
.screen-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    transition: 0.5s ease;
}
.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn{
    margin-right: 20px;

}
.off-heading{
    color: white;
    transition: color 0.3s ease;
}
.fa-solid{
    font-size: 20px;
    margin-left : 10px;
}
.mode .fa-moon,
.mode .fa-sun{
    color: black;
    transition: color 0.5s ease;
}
/* This is the CSS file */